* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    color: #008080;
}

a:hover {
    text-decoration: none;
    list-style: none;
    color: #8B0000;
}
.admin_left {
    background-color: #EEEEEE;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding-left: 70px;
    padding-bottom: 20px;
    min-height: 728px;
}

.admin_right {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px -40px 20px 20px;
    padding: 20px;
}

.admin_title, .admin_login {
    padding: 10px 0;
    position: relative;
}

.admin_title {
    padding-top: 30px;
    font-weight: bold;
    font-size: 18px;
}

.admin_title::after, .admin_login::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 150px;
    background-color: rgba(180, 180, 180, 0.6);
}


.admin_login_avt {
    width: 50px;
    justify-content: center;
}

.admin_login_info {
    font-weight: 550;
    line-height: 50px;
    color: #000080;
}


.addProduct {
    margin-left: 1025px;
}

.admin_product_title {
    font-weight: 600;
    padding-bottom: 20px;
}

.table {
    width: 97%;
}










.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



/* Form Add/Edit */
.input-form {
    margin: 9px 0px 9px 25px;
}
.input-form span{ /*Thẻ tile trước input*/
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    color: #008080;
}

.input-form input{ /*Ô input chung*/
    width: 94%;
    padding: 4px 10px;
    outline: none;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 3px;
    margin-bottom: 5px;
}

.input-form input[type="submit"]{ /*Nút Lưu*/
    width: 200px;
    float: right;
    margin-right: -35px;
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.input-form input[type="submit"]:hover{
    background: #f53677;
}